@font-face {
   font-family: '微软正黑体';
   font-display: swap;
   src: url('file:///C:/Users/FAT_CAT/Desktop/Resume/Website/profile-template/fonts/%E5%BE%AE%E8%BD%AF%E6%AD%A3%E9%BB%91%E4%BD%93/font.ttf');
}
